<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="240" />
    <pages>
      <controls>
        <add tagPrefix="MENA" tagName="Menu" src="~/headers/Menu.ascx" />
        <add tagPrefix="MENA" tagName="Modals" src="~/headers/Modals.ascx" />
        <add tagPrefix="MENA" tagName="Footer" src="~/headers/Footer.ascx" />
      </controls>
    </pages>
<customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="Default.aspx" />
            </files>
        </defaultDocument>


    
  </system.webServer>
  <appSettings>
    <!-- Database string -->
  <add key="AppDB" value="data source=52.20.96.124;Database=MENA2016WEB;user id=Medtrix;password=S3rv3r;" />

    <add key="MainURL" value="http://www.hematologysummit.com/" />
    
    <!-- Email setup -->
    <add key="SmtpUserName" value="info@hematologysummit.com" />
    <add key="SmtpPassword" value="Omnificence@123" />
    <add key="SmtpUserName_Support" value="support@hematologysummit.com" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />

  </appSettings>
</configuration>